html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 50px 0 0;
}

* {
	box-sizing: border-box;
}

#main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.map-container {
	width: 100%;
	height: 100%;
}

canvas {
	-webkit-transform: translateZ(0px) !important;
}

.hut-map {
	width: 100%;
	height: 300px;
}

.hut-body, .image-body {
	.images {
		> div {
			margin-bottom: 30px;
		}
	}
}

.hut-details {
	margin-top: 30px;

	dl {
		margin-bottom: 0;
	}
}

.image-body {
	h3 {
		position: relative;

		> a {
			font-size: 0.85em;
		}

		button {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.social-links {
	font-size: 2em;

	span {
		display: inline-block;
		margin: 0 8px;
	}
}

@media (min-width: 768px) {
	.hut-details {
		.dl-horizontal {
			dt {
				width: 100px;
			}
			dd {
				margin-left: 120px;
			}
		}
	}
}

@media (max-width: 719px) {
	.huts-table {
		thead, tbody {
			tr {
				th:nth-child(n+4), td:nth-child(n+4) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.huts-table {
		thead, tbody {
			tr {
				th:nth-child(n+3), td:nth-child(n+3) {
					display: none;
				}
			}
		}
	}
}

.thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}
