<template name="hut">
	<div id="main-container" class="container">
		<h1>{{hut.name}}</h1>
		<p>{{{addBreaks hut.description}}}</p>

		<dl class="dl-horizontal">
			{{#if hut.group}}
				<dt>{{i18n 'group'}}</dt>
				<dd>{{hut.group.name}}</dd>
			{{/if}}
			{{#if hut.sleeps}}
				<dt>{{i18n 'sleeps'}}</dt>
				<dd>{{hut.sleeps}}</dd>
			{{/if}}
			{{#if hut.size}}
				<dt>{{i18n 'size'}}</dt>
				<dd>{{hut.size}}m<sup>2</sup></dd>
			{{/if}}
		</dl>

		{{#each images}}
			<a href="{{this.url store='images'}}" target="_blank">
				<img src="{{this.url store='thumbs'}}" alt="" class="thumbnail" />
			</a>
		{{/each}}
	</div>
</template>
