<template name="huts">
	<div id="main-container" class="container">
		<table class="table">
			<thead>
				<tr>
					<th>{{i18n 'name'}}</th>
					<th>{{i18n 'status'}}</th>
					<th>{{i18n 'group'}}</th>
					<th>{{i18n 'sleeps'}}</th>
					<th>{{i18n 'size'}}</th>
				</tr>
			</thead>

			<tbody>
				{{#each huts}}
					<tr>
						<td><a href="{{pathFor 'hut' hutId=_id}}">{{name}}</a></td>
						<td>{{i18n status}}</td>
						<td>{{#if group}}{{group.shortName}}{{/if}}</td>
						<td>{{sleeps}}</td>
						<td>{{#if size}}{{size}}m<sup>2</sup>{{/if}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
